.trendings__link {
  white-space: nowrap;
  padding: .2em 0;
  max-width: max-content;
  padding: .5em;
  background-color: var(--color-green);
  border-radius: 5px;
  font-weight: bold;

  color: #000;

  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.trendings__link:hover {
  transition: filter .2s;
  filter: brightness(150%);
}
