.gif {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 8px;
  background-color: var(--color-green);
  overflow: hidden;
  transition: .5s;
}

.gif img {
  height: inherit;
  max-width: unset;
  object-fit: cover;
}

.gif--link {
  border: 1px solid transparent;
}

.gif__link {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.gif__title {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  bottom: 0;
  left: 0;
  padding: 0 .5em;
  background-color: rgba(0, 0, 0, .5);
}

.gif--description {
  display: flex;
  justify-content: center;
  background-color: var(--bgColor-secondary);
}

@media (min-width: 1024px) {
  .gif--link:hover img {
    transition: transform .5s linear;
    transform: scale(1.1);
  }
}