.user-card {
  width: 300px;
  display: grid;
  padding: 10px;
  grid-template-columns: 50px 220px;
}

.user-card__avatar img, .user-card__avatar svg {
  width: 50px;
  height: 50px;
}

.user-card__info {
  margin-left: 1em;
  overflow-wrap: break-word;
}

.user-card__info svg{
  color: #3897f0;
  margin-left: 5px;
}
