.trending-searches {
  margin-bottom: 1em;
}

.trendings-searches__header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.trending-searches__trendings {
  display: flex;
  max-height: 0;
  overflow: hidden;
  flex-wrap: wrap;
  gap: .5em;
  transition: max-height .350s linear;
}

.trendings--expanded {
  max-height: 500px;
}

.trendings-searches__header button svg {
  transition: transform .200s linear;
}

.btn--rotate svg {
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  .trending-searches__trendings {
    flex-wrap: wrap;
  }

  .trendings--expanded {
    max-height: 180px;
  }
}