.header {
  height: var(--header-height);

  position: sticky;
  z-index: 999;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  background-color: var(--bgColor-main);
  padding: 1em;
}


.brand a{
  text-align: center;
  font-size: 2rem;
}


@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: left;
    gap: 5em;
  }
}