*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --header-height: 200px;
  --bgColor-main: #191919;
  --bgColor-secondary: #000;
  --color-primary: #fded6f;
  --color-green: #93e356;
  --color-blue: #2196f3;
  --color-orange: #f9a825;
  --color-purple: #7e57c2;
}

body{
  background-color: var(--bgColor-main);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(12px + .5vmin);
}

a{
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

main{
  padding: 1em;
  min-height: 100vh;
}

input{
  padding: 5px 10px;
  background-color: transparent;
  border: none;
}

input:focus{
  outline: none;
}

button{
  width: 35px;
  height: 35px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
}

button:hover{
  cursor: pointer;
}

.grid-center{
  display: grid;
  place-content: center;
}

.title{
  padding: .5em 0;
  max-width: 100%;
  z-index: 999;
}

.title--sticky{
  position: sticky;
  top: var(--header-height);
  background-color: var(--bgColor-main);
}

.title::first-letter{
  text-transform: uppercase;
}

.colorful-item:nth-child(13n) {
  background-color: var(--color-green);
}

.colorful-item:nth-child(7n) {
  background-color: var(--color-blue);
}

.colorful-item:nth-child(5n) {
  background-color: var(--color-orange);
}

.colorful-item:nth-child(3n) {
  background-color: var(--color-purple);
}


#visor{
  transform: translateY(-1000px);
}
@media (min-width: 768px){
  :root{
    --header-height: 100px;
  }
}