.search-gifs__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

.search-gifs__group {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.search-gifs__group--last {
  position: relative;
  gap: 5px;
}

.search-gif__select {
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  text-transform: uppercase;
  padding: .5em;
  width: 75px;
}

.search-gif__select:focus {
  outline: none;
}

.search-gif__select option {
  background-color: #000;
  border: inherit;
}

.search-gifs__input {
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  font-weight: bold;
  width: 250px;
  color: var(--color-primary);
}

.search-gifs__input:focus {
  box-shadow: 0 0 8px var(--color-primary);
}

.search-gifs__submit {
  border-radius: 5px;
}

.search-gifs__error {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.empty-input {
  animation: shake 300ms linear;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-10px);
  }

  66% {
    transform: translateX(10px);
  }
}


@media (min-width: 768px) {
  .search-gifs__form {
    flex-wrap: nowrap;
  }

  .search-gif__select:hover {
    cursor: pointer;
  }

  .search-gif__select:focus {
    outline: none;
  }
}

@media (min-width: 1024px) {
  .search-gifs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-gifs__input {
    width: 300px;
  }

  .search-gifs__input:hover {
    box-shadow: 0 0 8px var(--color-primary);
  }
}

@media (min-width: 1400px) {
  .search-gifs__input {
    width: 450px;
  }
}