.search-gifs{
  display: flex;
  gap: .5em;
  padding: 0;
}

.search-gifs__form{
  max-width: 500px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.search-gifs__form button{
  background-color: transparent;
}

.search-gifs__error{
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.search-gifs__random{
  border-radius: 5px;
}

.empty-input{
  animation: shake 300ms linear;
}

@keyframes shake {
  0%,100%{transform: translateX(0);}
  33%{transform: translateX(-10px);}
  66%{transform: translateX(10px);}
}
